@import "StudentOutputDiff";

.student-name {
    width: 90%;
    margin: 0 auto 0;

    .name-value {
        margin-left: 1rem;
    }
}

.error-menu {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    .menu-line {
        margin-bottom: 8px;
        font-weight: bold;
    }

    .menu-actions {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
    }

    .menu-add {
        position: relative;
    }

    .menu-add-button{
        width: 100%;
        cursor: pointer;
    }
    .add-menu-item{
        width: 100%;
        cursor: pointer;
    }
    .menu-close{
        width: 100%;
        cursor: pointer;
    }
}